<nav class="bg-dark navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">{{titulo}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--OPCIONES-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Ordenes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/ordenes">Gestión de Ordenes</a>
                    <a class="dropdown-item" href="/ordenes/form">Nueva Orden</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Clientes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/clientes">Gestión de clientes</a>
                    <a class="dropdown-item" href="/clientes/form">Nuevo Cliente</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ajustes">Ajustes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contabilidad">Contabilidad</a>
            </li>

        </ul>
    </div>
</nav>
<!-- ****** Top Header Area Start ****** 
    <div class="top_header_area">
                        <div class="container">
                            <div class="row">
                                <div class="col-5 col-sm-6">
                                -->
<!--  Top Social bar start 
                                    <div class="top_social_bar">
                                    </div>
                                </div>
                            -->
<!--  Login Register Area 
                                <div class="col-7 col-sm-6">
                                    <div class="signup-search-area d-flex align-items-center justify-content-end">
                        <div class="login_register_area d-flex">
                            <div class="login">
                                <a href="/home">Menu Principal</a>
                            </div>
                            <div class="register">
                                <a >Cerrar Sesion</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
<!-- ****** Top Header Area End ****** -->