 <!-- ****** Footer Menu Area Start ****** 
    <footer class="footer_area rounded-top bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    
                    <div class="copy_right_text text-center">
                        <p>Daniel Parra | Daniel Beltran &#169;<br><img class="iconoFooter"
                            src="../../assets/img/iconos/colombianFlag.png"> Armenia, Quindio, 2019</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    -->
        <!-- ****** Footer Menu Area End ****** -->