<!-- ******Inicio ****** -->
<div class="row">
  <div class="col-12">
    <div class="tituloModulos text-center">
      <a class="tituloModulos" href="/home">Herramientas El&eacute;ctricas</a>
    </div>
  </div>
</div>
<div class="breadcumb-area" style="background-image: url(assets/img/modulos-img/cabecera3.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="bradcumb-title text-center">
          <h2>Crear Orden</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="breadcumb-nav">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
            <li class="breadcrumb-item"><a href="/ordenes"><i aria-hidden="true"></i>Ordenes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nueva Orden</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ****** Fin Encabezado ****** -->
<!-- Inicia Formulario de ordenes -->
<div class="container">
  <div class="card border-dark" style="margin-bottom: 2%; margin-top: 0.5%;">
    <div class="card-header bg-dark text-white" style="text-align: center; font-weight: bold;">Numero</div>
    <div class="card-body">
      <form>
        <div class="container">
          <div class="row">
            <div class="form-group col-sm">
              <label for="selectCliente" style="font-weight: bold;" class="col-form-label">Cliente:</label>
              <select [(ngModel)]="orden.cliente" name="selectCliente" class="selectpicker form-control" data-live-search="true"
                data-width="100%" title="Elija un cliente..." #cliente="ngModel">
                <option *ngFor="let cliente of listClientes" [value]="cliente">
                  {{cliente.nombre}} - {{cliente.email}}
                </option>
              </select>
            </div>
            <div class="form-group col-sm">
              <label for="marca" style="font-weight: bold;" class="col-form-label">Fecha de ingreso:</label>
              <div class="col-sm-6"></div>
              <input [(ngModel)]="orden.fechaEntrada" type="date" class="form-control" name="fecha" required
              #fechaEntrada="ngModel">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm">
              <label for="articulo" style="font-weight: bold;" class="col-form-label">Articulo:</label>
              <div class="col-sm-6"></div>
              <input [(ngModel)]="orden.nombreArticulo" type="text" class="form-control" name="articulo"
              #nombreArticulo="ngModel">
            </div>
            <div class="form-group col-sm">
              <label for="marca" style="font-weight: bold;" class="col-form-label">Marca:</label>
              <div class="col-sm-6"></div>
              <input [(ngModel)]="orden.marcaArticulo" type="text" class="form-control" name="marca" required
              #nombreArticulo="ngModel">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm">
              <label for="modelo" style="font-weight: bold;" class="col-form-label">Modelo:</label>
              <div class="col-sm-6"></div>
              <input [(ngModel)]="orden.modeloArticulo" type="text" class="form-control" name="modelo" required
              #modeloArticulo="ngModel">
            </div>
            <div class="form-group col-sm">
              <label for="serie" style="font-weight: bold;" class="col-form-label">N&#186; Serie:</label>
              <div class="col-sm-6"></div>
              <input type="number" [(ngModel)]="orden.serialArticulo" class="form-control" name="serie" required
              #serialArticulo="ngModel">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm">
              <label for="danio" style="font-weight: bold;"
                class="col-form-label">Daño:</label>
              <div class="col-sm-6"></div>
              <input [(ngModel)]="orden.problemaReportado" type="text" class="form-control" name="danio" required 
              #problemaReportado="ngModel">
            </div>
            <div class="form-group col-sm">
              <label for="valor" style="font-weight: bold;" class="col-form-label">Valor del
                arreglo:</label>
              <div class="col-sm-6"></div>
              <input type="number"  [(ngModel)]="orden.valor"  class="form-control" name="valor" required #valorArreglo="ngModel">
            </div>
          </div>
          <div class="form-group">
            <label for="notas" style="font-weight: bold;" class="col-form-label">Observaciones:</label>
            <textarea class="form-control" name="notas" required></textarea>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary btn-lg" role="button" (click)='create()' *ngIf="!cliente.id; else elseBlock">Crear</button>
          <ng-template #elseBlock>
            <button class="btn btn-primary btn-lg" role="button" (click)='update()'>Editar</button>
          </ng-template>'>
        </div>
      </form>
    </div>
  </div>
</div>