<!-- ******Inicio ****** -->
<div class="row">
  <div class="col-12">
      <div class="tituloModulos text-center">
          <a class="tituloModulos" href="/home" >Herramientas El&eacute;ctricas</a>
      </div>
  </div>
</div>
<div class="breadcumb-area" style="background-image: url(assets/img/modulos-img/cabecera3.jpg);">
<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-12">
            <div class="bradcumb-title text-center">
                <h2>Crear Orden</h2>
            </div>
        </div>
    </div>
</div>
</div>
<div class="breadcumb-nav">
<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                    <li class="breadcrumb-item"><a href="/ordenes"><i aria-hidden="true"></i>Ordenes</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Crear Orden</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
</div>
<!-- ****** Fin Encabezado ****** -->
<div class="container">
  <div class="card bg-dark text-white">
    <div class="card-header" style="text-align: center">{{!orden.id_orden?'Crear Orden':'Editar Orden'}}</div>
    <div class="card-body">
      <form>
        <div class="container">
          <div class="form-group">
              <label class="col-form-label" for="exampleFormControlSelect1">Seleccione Cliente:</label>
            <div class="row">
              <div class="form-group col-sm">
                <label for="clienteId" class="col-form-label">Id Cliente:</label>
                <div class="col-sm-6"></div>
                <input type="text" class="form-control" name="cliente" [(ngModel)]="orden.clienteId" required
                  #clienteId="ngModel">
              </div>
              <div class="form-group col-sm">
                <label for="articulo" class="col-form-label">Articulo:</label>
                <div class="col-sm-6"></div>
                <input type="text" class="form-control" name="articulo" [(ngModel)]="orden.nombre_articulo" required
                  #articulo="ngModel">
              </div>
              <div class="form-group col-sm">
                <label for="marca" class="col-form-label">Marca:</label>
                <div class="col-sm-6"></div>
                <input type="text" class="form-control"  name="marca" required [(ngModel)]="orden.marca_articulo" required
                  #marca="ngModel">
              </div>
            </div>
            <div class="row">
            <div class="form-group col-sm">
              <label for="modelo" class="col-form-label">Modelo:</label>
              <div class="col-sm-6"></div>
              <input type="text" class="form-control"  name="modelo" required [(ngModel)]="orden.modelo_articulo" required
                #modelo="ngModel">
            </div>
            <div class="form-group col-sm">
              <label for="serie" class="col-form-label">N Serie:</label>
              <div class="col-sm-6"></div>
              <input type="text" class="form-control"  name="serie" required [(ngModel)]="orden.serial_articulo" required
                #serial="ngModel">
            </div>
            </div>
            <div class="row">
            <div class="form-group col-sm">
              <label for="daño" class="col-form-label">Daño:</label>
              <div class="col-sm-6"></div>
              <input type="text" class="form-control"  name="daño" required [(ngModel)]="orden.problema_reportado" required
                #modelo="ngModel">
            </div>
            <div class="form-group col-sm">
                <label for="valor" class="col-form-label">Valor del arreglo:</label>
                <div class="col-sm-6"></div>
                <input type="text" class="form-control"  name="valor" required [(ngModel)]="orden.valor" required
                  #valor="ngModel">
              </div>
            </div>
            </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container" style="padding-bottom: 3%; padding-top: 2%;">
    <button class="btn btn-primary btn-lg btn-block main-button" role="button" (click)='create()' *ngIf="!orden.id_orden else elseBlock">Crear</button>
  <ng-template #elseBlock>
    <button class="btn btn-primary btn-lg btn-block main-button" role="button" (click)='update()'>Editar</button>
  </ng-template>
  </div>
  </div>
