<div class="card border-primary mb-3">
  <div class="card-header">Cliente</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de papus</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear Cliente</button>
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="(Nombre o C&#233;dula)" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button">Buscar</button>
      </div>
    </div>
  <table class="table table-bordered table-stripped" *ngIf="clientes?.length>0">
      <thead>
        <tr>
          <th style ="text-align: center">Id</th>
          <th style ="text-align: center">Nombre</th>
          <th style ="text-align: center">Apellido</th>
          <th style ="text-align: center">Email</th>
          <th style ="text-align: center">Fecha</th>
          <th style ="text-align: center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{cliente.id}}</td>
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido}}</td>
          <td>{{cliente.email}}</td>
          <td>{{cliente.createAt}}</td>
          <td> 
              <div class="row">
                  <div class="col">
                    <button type = "button" name = "Editar" [routerLink]="['/clientes/form/', cliente.id]"
                     class = "btn btn-primary btn-sm">Editar</button>
                  </div>
                  <div class="col">
                    <button type = "button" name = "Eliminar" (click)='delete(cliente)' 
                    class = "btn btn-danger btn-sm">Eliminar</button>
                  </div>
                </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="clientes?.length==0" class="alert alert-info">
      No hay registros en la base de datos.
    </div>
  </div>
</div>