<div class="row">
  <!-- Logo Area Start -->
  <div class="col-12">
      <div class="logo_area text-center">
          <a class="yummy-logo">Herramientas El&eacute;ctricas</a>
      </div>
  </div>
</div>
   <!-- ****** Categories Area Start ****** -->
    <section class="categories_area clearfix" id="about">
        
      <div class="div container">
        
              <div class="row">
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="single_catagory wow fadeInUp" data-wow-delay=".2s">
                          <img src="assets/img/home-img/ordenes.jpg" alt="">
                          <div class="catagory-title">
                              <a  href="/ordenes">
                                  <h5>Ordenes</h5>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="single_catagory wow fadeInUp" data-wow-delay=".4s">
                          <img src="assets/img/home-img/clientes.jpg" alt="">
                          <div class="catagory-title">
                              <a  href="/clientes">
                                  <h5>Clientes</h5>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="single_catagory wow fadeInUp" data-wow-delay=".6s">
                          <img src="assets/img/home-img/ajustes.jpg" alt="">
                          <div class="catagory-title">
                              <a href="/ajustes" >
                                  <h5>Ajustes</h5>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="single_catagory wow fadeInUp" data-wow-delay=".8s">
                        <img src="assets/img/home-img/contabilidad.jpg" alt="">
                        <div class="catagory-title">
                            <a href="/clientes/form" >
                                <h5>Contabilidad</h5>
                            </a>
                        </div>
                    </div>
                </div>
              </div>
         
      </div>
  </section>
  <!-- ****** Categories Area End ****** -->
  <!-- ****** Footer Social Icon Area End ****** -->