<div class="row" align="center">
    <div class="col-12 col-md-6 col-lg-3" >
        <div class="card" style="width: 18rem;">
                <img src="assets/img/home-img/ordenes.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text" >Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="width: 18rem;">
                <img src="assets/img/home-img/ordenes.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="width: 18rem;">
                <img src="assets/img/home-img/ordenes.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card" style="width: 18rem;">
                        <img src="assets/img/home-img/ordenes.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        
    </div>

    
    
    
    
    
    
    <!-- 
    
        <section class="categories_area clearfix" id="about">
            
            <div class="div container">
                
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single_catagory wow fadeInUp" data-wow-delay=".2s">
                            <img src="assets/img/home-img/ordenes.jpg" alt="">
                            <div class="catagory-title">
                                <a href="/ordenes">
                                    <h5>Ordenes</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single_catagory wow fadeInUp" data-wow-delay=".4s">
                        <img src="assets/img/home-img/clientes.jpg" alt="">
                        <div class="catagory-title">
                            <a href="/clientes">
                                <h5>Clientes</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single_catagory wow fadeInUp" data-wow-delay=".6s">
                        <img src="assets/img/home-img/ajustes.jpg" alt="">
                        <div class="catagory-title">
                            <a href="/ajustes">
                                <h5>Ajustes</h5>
                            </a>
                        </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single_catagory wow fadeInUp" data-wow-delay=".8s">
                    <img src="assets/img/home-img/contabilidad.jpg" alt="">
                    <div class="catagory-title">
                        <a href="/contabilidad">
                            <h5>Contabilidad</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
-->
<!-- ****** Categories Area End ****** -->