<section class="home py-4">
    <div class="container">
        <div class="row text-md-center">
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card">
                    <img src="assets/img/home-img/ordenes.jpg" class="card-img-top" alt="Ordenes">
                    <div class="card-body">
                        <h5 class="card-title">Gestión de Ordenes</h5>
                        <p class="card-text">Registrar, editar, eliminar y generar salida de ordenes.</p>
                        <a href="/ordenes" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card" >
                    <img src="assets/img/home-img/clientes.jpg" class="card-img-top" alt="Clientes">
                    <div class="card-body">
                        <h5 class="card-title">Gestión de Clientes</h5>
                        <p class="card-text">Crear, editar, eliminar  y visualizar clientes.</p>
                        <a href="/clientes" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card" >
                    <img src="assets/img/home-img/ajustes.jpg" class="card-img-top" alt="Ajustes">
                    <div class="card-body">
                        <h5 class="card-title">Ajustes</h5>
                        <p class="card-text">Editar encabezado y píe de página de impresiones.</p>
                        <a href="/ajustes" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card" >
                    <img src="assets/img/home-img/contabilidad.jpg" class="card-img-top" alt="Contabilidad">
                    <div class="card-body">
                        <h5 class="card-title">Contabildiad</h5>
                        <p class="card-text">penmdiente para la determiand descripcion.</p>
                        <a href="/contabilidad" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<!-- 
            
            <section class="categories_area clearfix" id="about">
                
                <div class="div container">
                
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single_catagory wow fadeInUp" data-wow-delay=".2s">
                            <img src="assets/img/home-img/ordenes.jpg" alt="">
                            <div class="catagory-title">
                                <a href="/ordenes">
                                    <h5>Ordenes</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single_catagory wow fadeInUp" data-wow-delay=".4s">
                        <img src="assets/img/home-img/clientes.jpg" alt="">
                        <div class="catagory-title">
                            <a href="/clientes">
                                <h5>Clientes</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single_catagory wow fadeInUp" data-wow-delay=".6s">
                        <img src="assets/img/home-img/clientes.jpg alt="">
                        <div class="catagory-title">
                            <a href="/ajustes">
                                <h5>Ajustes</h5>
                            </a>
                        </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single_catagory wow fadeInUp" data-wow-delay=".8s">
                    <img src="assets/img/home-img/contabilidad.jpg" alt="">
                    <div class="catagory-title">
                        <a href="/contabilidad">
                            <h5>Contabilidad</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
-->
<!-- ****** Categories Area End ****** -->