.categories_area {
    padding: 80px 0 50px 0;
}

.single_catagory img {
    border-radius: 20px;
}
.catagory-title {
    width: 200px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    text-align: center;
    border-radius: 30px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single_catagory:hover .catagory-title {
    background-color: #4285F6;
}

.catagory-title a > h5 {
    margin-bottom: 0;
    line-height: 50px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single_catagory:hover .catagory-title a > h5 {
    color: #fff;
}

.single-icon > a {
    color: #51545f;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.single-icon > a:hover {
    color: #4285F6;
}

.single-icon > a > i {
    font-size: 16px;
    padding-right: 12px;
}