<!-- ******Inicio ****** -->
<div class="row">
  <div class="col-12">
    <div class="tituloModulos text-center">
      <a class="tituloModulos" href="/home">Herramientas El&eacute;ctricas</a>
    </div>
  </div>
</div>
<div class="breadcumb-area" style="background-image: url(assets/img/modulos-img/cabecera1.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="bradcumb-title text-center">
          <h2>Ajustes</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="breadcumb-nav">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li class="breadcrumb-item"><a href="/ajustes"><i aria-hidden="true"></i>Ajustes</a></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ****** Fin Encabezado ****** -->

<!-- Inicio de card con el form-->
<div class="container">
  <div class="card border-dark" style="margin-bottom: 2%; margin-top: 0.5%;">
    <div class="card-header bg-dark text-white" style="text-align: center; font-weight: bold;">Ajustes</div>
    <div class="card-body">
      <form>
        <div class="container">
            <div class="form-group">
                <label for="encabezado" style="font-weight: bold;" class="col-form-label">Encabezado:</label>
                <textarea class="form-control" name="encabezado" [(ngModel)]="ajustes.txtEncabezado"></textarea>
              </div>
              <div class="form-group">
                  <label for="piePagina" style="font-weight: bold;" class="col-form-label">Pie de Pagina:</label>
                  <textarea class="form-control" name="piePagina" [(ngModel)]="ajustes.txtPiePagina"></textarea>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary btn-lg" role="button" (click)='save()'>Aceptar</button>
                      </div>
        </div>
      </form>
    </div>
  </div>
</div>